<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Личный кабинет - ИС Darwin</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>

    <div class="header">
      <div>
        <div class="textTitle">Курочкин Е.М.</div>
        <div class="textAccent">администратор</div>
      </div>
      <a href="index.html" class="btn btnAccent btnAccentHeader">Перейти на сайт компании</a>
    </div>

    <div class="container">
      <div class="box">
        <h2 class="textTitle">Добро пожаловать!</h2>
        <div class="btnGroup">
          <a href="users.html" class="btn">Пользователи ИС</a>
          <a href="roles.html" class="btn">Роли ИС</a>
          <a href="employeers.html" class="btn">Сотрудники компании</a>
          <a href="objects.html" class="btn">Рабочие объекты</a>
          <a href="materials.html" class="btn">Материалы</a>
          <a href="timeTracker.html" class="btn">Учет рабочего времени</a>
          <a href="clientsApplications.html" class="btn">Заявки клиентов</a>
          <a href="clientsApplicationsTypes.html" class="btn">Типы заявок</a>
          <a href="clientsApplicationsStatuses.html" class="btn">Статусы заявок</a>
          <a href="auth.html" class="btn btnAccentRed">Выйти из ИС</a>
        </div>
      </div>
    </div>

  </body>

</html>