<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Объекты - ИС Darwin</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>

    <div class="header">
      <div>
        <div class="textTitle">Курочкин Е.М.</div>
        <div class="textAccent">администратор</div>
      </div>
      <a href="index.html" class="btn btnAccent btnAccentHeader">Перейти на сайт компании</a>
    </div>

    <div class="container">
      <div class="box">
        <h2 class="textTitle">Рабочие объекты</h2>
        <div class="btnGroup">
          <button class="btn">Добавить объект</button>
          <button class="btn">Изменить объект</button>
          <button class="btn btnAccentRed">Удалить объект</button>
          <a href="dashboard.html" class="btn btnAccent">Назад</a>
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <h2 class="textTitle center">Список объектов</h2>
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>address</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- сервер? -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="objectsAddForm" class="modal hidden">
      <div class="box">
        <h2 class="textTitle">Добавить объект</h2>
        <input type="text" id="name" placeholder="Название" required />
        <input type="text" id="address" placeholder="Адрес" required />
        <input type="text" id="description" placeholder="Описание" required />
        <div class="btnGroup">
          <button type="submit" class="btn btnAccentSuccess">Добавить</button>
        </div>
      </div>
    </div>

    <div id="objectsChangeForm" class="modal hidden">
      <div class="box">
        <h2 class="textTitle">Изменить объект</h2>
        <input type="text" id="name" placeholder="Название" required />
        <input type="text" id="address" placeholder="Адрес" required />
        <input type="text" id="description" placeholder="Описание" required />
        <div class="btnGroup">
          <button type="submit" class="btn btnAccent">Изменить</button>
        </div>
      </div>
    </div>

    <div id="objectsDeleteForm" class="modal hidden">
      <div class="box">
        <h2 class="textTitle">Удалить объект</h2>
        <input type="number" id="id" placeholder="id" required />
        <div class="btnGroup">
          <button type="submit" class="btn btnAccentRed">Удалить</button>
        </div>
      </div>
    </div>

    <div id="objectsErrorModal" class="modal hidden">
      <div class="modalBox">
        <p>Возникла ошибка. Уточните подробности у системного администратора</p>
        <button class="btn btnAccentRed" onclick="closeModal()">Закрыть</button>
      </div>
    </div>

    <div id="objectsSuccessModal" class="modal hidden">
      <div class="modalBox">
        <p>Успешно!</p>
        <button class="btn btnAccentSuccess" onclick="closeModal()">Закрыть</button>
      </div>
    </div>

  </body>

</html>
