<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Пользователи - ИС Darwin</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>

    <div class="header">
      <div>
        <div class="textTitle">Курочкин Е.М.</div>
        <div class="textAccent">администратор</div>
      </div>
      <a href="index.html" class="btn btnAccent btnAccentHeader">Перейти на сайт компании</a>
    </div>

    <div class="container">
      <div class="box">
        <h2 class="textTitle">Пользователи ИС </h2>
        <div class="btnGroup">
          <button class="btn">Добавить пользователя</button>
          <button class="btn">Изменить пользователя</button>
          <button class="btn btnAccentRed">Удалить пользователя</button>
          <a href="dashboard.html" class="btn btnAccent">Назад</a>
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <h2 class="textTitle center">Список пользователей</h2>
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>login</th>
              <th>password</th>
              <th>role</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- сервер? -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="usersAddForm" class="modal hidden">
      <div class="box">
        <h2 class="textTitle">Добавить пользователя</h2>
        <input type="text" id="login" placeholder="Логин" required />
        <input type="password" id="password" placeholder="Пароль" required />
        <select id="roleId" name="roleId" required />
          <option value="" disabled selected hidden>Уровень доступа (роль)</option>
          <!-- сервер? -->
        </select>
        <div class="btnGroup">
          <button type="submit" class="btn btnAccentSuccess">Добавить</button>
        </div>
      </div>
    </div>

    <div id="usersChangeForm" class="modal hidden">
      <div class="box">
        <h2 class="textTitle">Изменить пользователя</h2>
        <input type="text" id="login" placeholder="Логин" required />
        <input type="password" id="password" placeholder="Пароль" required />
        <select id="roleId" name="roleId" required />
          <option value="" disabled selected hidden>Уровень доступа (роль)</option>
          <!-- сервер? -->
        </select>
        <div class="btnGroup">
          <button type="submit" class="btn btnAccent">Изменить</button>
        </div>
      </div>
    </div>

    <div id="usersDeleteForm" class="modal hidden">
      <div class="box">
        <h2 class="textTitle">Удалить пользователя</h2>
        <input type="number" id="id" placeholder="id" required />
        <div class="btnGroup">
          <button type="submit" class="btn btnAccentRed">Удалить</button>
        </div>
      </div>
    </div>

    <div id="materialsErrorModal" class="modal hidden">
      <div class="modalBox">
        <p>Возникла ошибка. Уточните подробности у системного администратора</p>
        <button class="btn btnAccentRed" onclick="closeModal()">Закрыть</button>
      </div>
    </div>

    <div id="materialsSuccessModal" class="modal hidden">
      <div class="modalBox">
        <p>Успешно!</p>
        <button class="btn btnAccentSuccess" onclick="closeModal()">Закрыть</button>
      </div>
    </div>

  </body>

</html>